body, input, button {
    font-family: 'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: linear-gradient(navy, rgb(47, 0, 98));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #eee;
    font-size: 16px;
    margin: 0px;
}

a {
    color: #8ce;
}

#content {
    width: 50%;
    height: 100%;
    margin: auto;
}

#footer {
    font-size: 80%;
    border-top: 1px solid gray;
    margin-top: 10px;
}

p.addendum {
    font-size: 80%;
    color: #888;
    margin-top: 0px;
    margin-bottom: 0px;
}