body, input, button {
    font-family: 'Verdana', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-image: linear-gradient(rgb(222, 172, 56), rgb(161, 200, 20));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
    margin: 0px;
}

#content {
    width: 50%;
    height: 100%;
    margin: auto;
}

p.addendum {
    font-size: 80%;
    color: #444;
    margin-top: 0px;
    margin-bottom: 0px;
}